body {
    background-color: rgb(205, 243, 224); 
    padding:40px;
}

header{
    width:100%;
    position:sticky;
    top:0px;
}

/* Navbar styling */

.navbar a.menu-icon{
    display:none; /*For screens larger than mobile*/
}

.navbar {
    background-color: rgb(160, 207, 184); /* Mint green color */
    border-bottom: 1px solid white;
    overflow:hidden;
    top:0;
}

.navbar a  {
    float:left;
    display:block;
    text-align: center;
    text-decoration: none;
    color: white;
    margin:5px 15px;
    font-size:20px;
    border: 1px solid white;
    border-radius: 5px;
}

.navbar a.menu-icon{
    padding:5px 10px;
}

.navbar a:hover {
    color: mintcream;
}

main{
    background-color:white;
    border:2px solid mintcream;
}


#home{
    padding:10px;
    display:flex;
    text-align:center;
    align-items: center;
}

.name{
    font-size: 50px;
    color: rgb(160, 207, 184);
    width:100%;

}

.resume-img{
    border-radius: 50%;
    padding:50px;
    max-width: 100%;
}

#about{
    padding:10px;
    display:flex;
    text-align:center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    body {
        background-color: rgb(205, 243, 224); 
        padding:20px;
    }
    

    .navbar a:not(.menu-icon){
        display:none;
    }
    
    .navbar a.menu-icon{
        float:right;
        display:block;
        border:none;
        font-size:25px;
    }

    .navbar.open{
        position:relative;
    }

    .navbar.open a.menu-icon {
        position:absolute;
        right:0;
        top:0;
    }

    .navbar.open a {
        display:block;
        float:none;
        text-align:left;
    }
    .navbar a:not(.menu-icon){
        padding:15px 0px;
        font-size: 20px;
        border:none;
    }

    #home, #about, #portfolio{
        padding:10px;
        display:flex;
        flex-direction: column;
        text-align:center;
        align-items: center;
        scroll-margin-top: 80px;
    }

    .resume-img{
        border-radius: 50%;
        padding:10px;
        width: 80%;
    }

    .home-intro{
        width:100%;
        overflow: hidden;
    }

    .about-intro{
        width:80%;
        overflow: hidden;
        padding:20px;
        border: 8px dotted rgb(205, 243, 224); 
    }

    .name{
        font-size: 50px;
        color: rgb(160, 207, 184);
        width:100%;
    
    }

    .about-pictures{
        display:flex;
        flex-direction:column;
        align-items: center;
        overflow:hidden;
    }

    .about-blurb{
        width:100%;
        overflow:hidden;
    }
    .about-travel-pics{
        width:100%;
        padding:20px;
        max-width:300px;
    }
    .about-travel-pics-label{
        padding:0;
        margin:0;
    }

    .project-container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project-display{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;
    }
}