* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* 
body {
    background: #dbb698;
} */

.navbar {
    background: #aa8f79;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: 'Playfair Display', serif;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
    s
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #B64003;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .navbar__menu.active {
        background: #aa8f79;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.5rem;
    }
    #navbar__logo {
        padding-left: 25px;
    }
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        background: #fff;
    }
    .navbar__item {
        width: 100%;
    }
    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 25%);
    }
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


/* About Me Section */

.about-me {
    background: #dbb698;
    padding: 300px 0;
}

.about-me__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1300px;
    height: 90%;
    margin: 0 auto;
    padding: 0 10px;
}

.about-me__profile {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.about-me__profile>img {
    border: 5px solid #ddd;
    border-radius: 50%;
    width: 350px;
    padding: 5px;
}

.about-me__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.about-me__info>h1 {
    font-size: 3.5rem;
    font-family: 'Playfair Display', sans-serif;
}

.about-me__info>p {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.about-me__info>p>span {
    background-color: rgb(110, 29, 29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-me__icons {
    position: relative;
    top: 50px;
    left: 10px;
}

.social-icons {
    padding: 10px;
    font-size: 50px;
    background-color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease;
}

.social-icons:hover {
    background-color: #B64003;
    transition: all 0.3s ease;
}


/*to create navbar hightlight*/

.highlight {
    border-bottom: 4px solid #B64003;
}

@media screen and (max-width: 768px) {
    .about-me {
        background: #dbb698;
        padding: 30px;
    }
    .about-me__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        width: 100%;
    }
    .about-me__profile {
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .about-me__profile>img {
        width: 210px;
    }
    .about-me__info>h1 {
        font-size: 1.3rem;
    }
    .about-me__info>p {
        font-size: 1rem;
    }
    .about-me__icons {
        top: 10px;
        left: 20px;
    }
    .social-icons {
        padding: 10px;
        font-size: 40px;
    }
}


/*Experience Section*/

.experience-timeline {
    background: rgb(230, 189, 156);
    height: 100%;
    padding: 10rem 0;
}

.experience-title {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.5rem;
}

.experience__container {
    padding: 80px;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    position: relative;
}

.experience__container>h2 {
    position: relative;
    left: 100px;
    width: 15%;
    padding: 30px;
    font-size: 2rem;
}

.experience__container:before {
    content: '';
    width: 7px;
    height: 95%;
    background: #000000;
    position: absolute;
    left: 300px;
}

.timeline__item {
    position: relative;
    left: 200px;
    background: white;
    padding: 50px;
    margin: 40px 80px;
    width: 65%;
    border-radius: 25px;
}

.timeline__item>h3 {
    padding: 10px 0px;
    font-size: 2.5rem;
}

.timeline__item>p {
    padding: 10px 0px;
    font-size: 1.4rem;
}

.timeline__item>ul {
    position: relative;
    left: 30px;
    padding: 10px;
    font-size: 1.1rem;
}

.timeline__item:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    left: -10px;
    top: 50%;
    transform: rotate(45deg);
}


/*Mobile Responsiveness for iphone 6/7/8 plus*/

@media screen and (max-width: 768px) {
    .experience__container {
        padding: 80px 0px;
    }
    .experience__container>h2 {
        position: relative;
        left: 15px;
        width: 15%;
        padding: 5px 0px;
        font-size: 1.5rem;
    }
    .experience__container:before {
        content: '';
        width: 10px;
        height: 95%;
        background: #000000;
        position: absolute;
        left: 80px;
    }
    .timeline__item {
        position: relative;
        left: 100px;
        background: white;
        padding: 20px;
        margin: 5px 30px;
        width: 65%;
        border-radius: 25px;
    }
    .timeline__item>h3 {
        padding: 10px 0px;
        font-size: 1rem;
    }
    .timeline__item>p {
        padding: 10px 0px;
        font-size: .8rem;
    }
    .timeline__item>ul {
        position: relative;
        left: 20px;
        padding: 10px;
        font-size: .6rem;
    }
}


/*Mobile Responsiveness for ipad*/

@media screen and (min-width:768px) and (max-width: 1650px) {
    .experience__container {
        padding: 80px 0px;
    }
    .experience__container>h2 {
        position: relative;
        left: 30px;
        width: 15%;
        padding: 0 auto;
        font-size: 1.5rem;
    }
    .experience__container:before {
        content: '';
        width: 10px;
        height: 95%;
        background: #000000;
        position: absolute;
        left: 150px;
    }
    .timeline__item {
        position: relative;
        left: 150px;
        background: white;
        padding: 50px;
        margin: 10px 80px;
        width: 65%;
        border-radius: 25px;
    }
    .timeline__item>h3 {
        padding: 10px 0px;
        font-size: 2rem;
    }
    .timeline__item>p {
        padding: 10px 0px;
        font-size: 1.3rem;
    }
    .timeline__item>ul {
        position: relative;
        left: 40px;
        padding: 10px;
        font-size: 1rem;
    }
}


/*Project Section*/

.project__showcase {
    background: #dbb698;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.project__showcase h1 {
    font-family: 'Playfair Display', sans-serif;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.project__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.project {
    margin: 10px;
    height: 400px;
    width: 400px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project__image {
    border-radius: 30px;
    width: 300px;
    height: 300px;
    position: absolute;
    transition: 0.5s ease;
}

.project__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    height: 300px;
    padding: 30px;
    opacity: 0;
    transition: 0.5s ease;
}

.project:hover .project__image {
    opacity: 0.05;
    transition: 0.5s ease;
}

.project:hover .project__overlay {
    opacity: 1;
}

.project__overlay h2 {
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
}

.project__overlay p {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
}

.project__overlay a {
    color: #fff;
    transition: 0.5s ease;
    text-decoration: none;
}

.project__overlay a:hover {
    color: #B64003;
    transition: 0.5s ease;
}

@media screen and (max-width:1300px) {
    .project__container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .project__container {
        grid-template-columns: 1fr;
    }
}